.highlighter-rouge {
    padding: .1em .3em .2em;
    border-radius: 3px;
    background-color: #a29bfe;
    color: #444;
}

.code, g.highlight, li code, p code, pre code {
    font-size: 12px;
    padding-top: 4px;
}

.image-border {
    border: 1px solid rgba(0,0,0,0.4);
}

.star {
    width: 10px;
    height: 10px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuMzA5IDkuMjJMMi40MDkgMTJsMS40NC00LjU2N0wwIDQuNTgzbDQuNzg4LS4wNDJMNi4zMDggMCA3LjgzIDQuNTRsNC43ODkuMDQ0LTMuODUgMi44NDlMMTAuMjA5IDEyeiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
}

.space-bottom {
    margin-bottom: .2em;
}

.outline {
    border: 1px solid #e2e2e2;
}

.date-box {
    background-color: slategray;
    padding: .1em .3em .2em;
    border-radius: 3px;
    color: #fff;
    text-shadow:1px 0px 1px rgba(0,0,0,0.2);
    font-size: 10pt;
}

hr.hr-gray {
    height: 0;
    border:0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: none;
}