<div class='only-print'>
    <h2>{{site.author}}</h2>
    <div style='margin-top:0;'>{{site.email}}</div>
  </div>
<div class='limiter no-print'>
    <ul class='navigation pad0x'>
        <li><a href='/'>{{site.title}}</a></li>
        <li><a href='/archivo'>archivo</a></li>
        <li><a href='/bitacora'>bitácora</a></li>
        <!--<li><a href='/proyectos'>proyectos</a></li-->
        <!-- <li><a href='/books/'>books</a></li> -->
        <!-- <li><a href='https://github.com/tmcw/'>github</a></li> -->
        <!-- <li><a href='https://twitter.com/{{ site.twitter_username }}'>twitter</a></li> -->
        <li><a href='/sobre-mi'>perfil</a></li>
    </ul>
</div>
