{% include header.html %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<header class="post-header">

<body>
    {% include nav.html %}
    
    <div class='pad2y limiter'>
        
        <h1>{{ page.title }}</h1>
        <p ><span class="date-box">{{ page.date | date_to_string }}</span> </p>
        <hr class="hr-gray">
        {{content}}
        <p  style="text-align: right;">
          <span><a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></span>
        </p>

        {% if site.disqus.shortname %}
          {% include disqus.html %}
        {% endif %}
    </div>

</body>




{% include footer.html %}